@charset "UTF-8";

body {
    background-color: #fff8dc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #00ccff;
}

h1#principal {
    text-align: center;
    color: #ffffff;
    background-color: #d2691e;
}

h2 {
    color: #d2691e;
}