@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

:root {
    --fontebase: Arial, Helvetica, sans-serif;
    --fonte2: 'Lugrasimo', cursive;
    --fonte3: Georgia, 'Times New Roman', Times, serif;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fontebase)
}

header {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 30px;
}

header > h1 {
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header a, footer a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;

    &:hover {
        text-decoration: underline;
    }
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 8vw;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 3vw;
}

.normal {
    background-color: aliceblue;
    color: black;
}

.imagem {
    background-color: rgb(82, 82, 82);
    color: aliceblue;
}

.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.308);
}

footer {
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 15px;
}